<include file="Public/header" />

<style>
    .fage a{margin-left: 5px;}.fage span{margin-left: 5px;}
    #content{width:980px; height:auto; overflow:hidden; margin:0 auto;}

    /* extra */
    #content2{width:auto; height:auto; overflow:hidden; margin:0 auto; border-top:1px #dcdcdc solid; padding-top:15px; }
    /* position */
    #position{width:480px; height:auto; overflow:hidden; margin:5 10 5 0;}
    #position p{font-size:12px; color:#6c879b; line-height:24px; float:left;}
    #position .pos{background:url(__PUBLIC__/images/pos.gif); width:5px; height:9px; float:left; font-size:1px; margin-left:5px; margin-right:5px; margin-top:7px;}
    #help_l{width:250px; height:auto; overflow:hidden; background:#f5f5f5; padding:10px 15px; float:left;}
    #help_l h4{font-size:14px; color:#505050; line-height:24px;}
    #help_l ul li{background:url(__PUBLIC__/images/ord.gif) left center no-repeat; padding-left:10px; line-height:24px;}
    #help_r{width:auto; height:auto; overflow:hidden; padding-left:20px;}
    #help_r h1{font-size:20px; color:#505050; line-height:36px; border-bottom:1px #dcdcdc solid; margin-bottom:20px;}
    #help_r p{font-size:14px; color:#505050; line-height:24px; text-indent:24px;}
    #help_r .tp{font-size:14px; color:#505050; line-height:24px;text-indent:0px;}
    #help_r ul li{line-height:24px; text-indent:0; border-bottom:1px #d2d2d2 dotted; margin-bottom:20px;}
    /*#help_l a{font-size:14px; background:url(__PUBLIC__/images/ord.gif) left center no-repeat; padding-left:10px;}*/
    #help_r samp{font-size:12px; color:#666666; text-indent:34px;}
    #help_r .fage{}
    #help_r .fage ol li{float:right; margin-left:15px; line-height:24px; font-size:12px; color:#878787; background:none; border-bottom:none;}
    #help_r .fage a{background:none; padding-left:0;}
    #help_r .fage .cen{color:#e66432; font-weight:bold;}
    a{font-size:12px; color:#41a51d; text-decoration:none; hide-focus: expression(this.hideFocus=true);outline: none;}
    a:hover{color:#ff9600; text-decoration:underline;}
</style>
<div id="content">
    <div id="position">
        <p>当前位置：</p>
        <p><a href="http://{$Think.server.http_host}">黑兔兔</a></p>
        <p class="pos">
        </p><p><a href="/news/{$last.id}.html">电商快讯</a></p>
    </div>
    <div id="content2">
        <!-- Page -->
        <div id="help_l">
            <h4>电商快讯</h4>
            <ul>
               <volist name="dataLists" id="vo">
                   <li><a href="/news/{$vo.id}.html">{$vo.title}</a></li>
               </volist>
            </ul>
        </div>
        <div id="help_r">
            <h1>{$data.title}</h1>
            <p style="margin-top:-10px;margin-bottom:10px;font-size:12px;color:#969696;">作者：{$data.username} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：{$data.create_time}</p><!-- Baidu Button BEGIN -->
            <div style="float:right;margin-top:-36px;" id="bdshare" class="bdshare_b">{:C('baidu_share_code')}</div>
            <!-- Baidu Button END -->
            <p></p>
            {$data.content|htmlspecialchars_decode}
            <empty name="previousData">
                <div style="text-align:left;font-size:14px;margin-top:10px;">这是最新的一篇</div>
                <else />
                <div style="clear:both;text-align:left;font-size:14px;margin-top:20px;">上一篇：<a style="background:none;padding:0;" href="/news/{$previousData.id}.html" title="{$previousData.title}">{$previousData.title}</a></div>
            </empty>
            <empty name="nextData">
                <div style="text-align:left;font-size:14px;margin-top:10px;">下一篇：没有了</div>
            <else />
                <div style="clear:both;text-align:left;font-size:14px;margin-top:20px;">下一篇：<a style="background:none;padding:0;" href="/news/{$nextData.id}.html" title="{$nextData.title}">{$nextData.title}</a></div>
            </empty>
            </div>
    </div>
</div>
<include file="Public/footer" />