<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>黑兔兔 管理中心</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/resources/default/magic.control.Dialog/magic.control.Dialog.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/resources/default/common/common.css" />

<!-- jQuery file -->
<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/js/jquery.tabify.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/tangram-min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/magic-min.js" type="text/javascript" charset="utf-8"></script>



<style type="text/css">
    
    td{padding:1px;margin: 0px;}
    body{word-break:break-all;}
</style>
</head>
<body>
<div id="panelwrap">
  	
	<div class="header">
    <div class="title"><a href="#">Panelo Admin</a></div>
    
    <div class="header_right">Welcome {$userName}, <a href="#" class="settings">Settings</a> <a href="{:U('/Admin/Index/logout')}" class="logout">Logout</a> </div>
    
    <div class="menu">
    <ul>
    <li><a href="#" class="selected">管理中心</a></li>
    <li><a href="#">系统配置</a></li>
    <li><a href="#">分类管理</a></li>
    <li style="display:none;"><a href="#">Edit categories</a></li>
    <li style="display:none;"><a href="#">Categories</a></li>
    <li><a href="#">缓存管理</a></li>
    <li><a href="#">友情链接</a></li>
    <li><a href="#">帮助</a></li>
    <li><a href="/" target="_blank">前台首页</a></li>
    </ul>
    </div>
    
    </div>
 {/*
    <div class="submenu" style="display:none;">
    <ul>
    <li><a href="#" class="selected">settings</a></li>
    <li><a href="#">users</a></li>
    <li><a href="#">categories</a></li>
    <li><a href="#">edit section</a></li>
    <li><a href="#">templates</a></li>
    </ul>
    </div>          
    */}     