                    
    <div class="sidebar" id="sidebar">
    <notempty name='users'>
    <h2>管理员列表</h2>
    
        <ul>
            <!--li><a href="#" class="selected">Main page</a></li>
            <li><a href="#">Template settings</a></li>
            <li><a href="#">Add page</a></li>
            <li><a href="#">Edit section</a></li>
            <li><a href="#">Templates</a></li-->
            <volist name="users" id="vo">
            <li><a href="#" id="user—{$vo.name}">{$vo.name}&nbsp;&nbsp;&nbsp;<img src="__PUBLIC__/images/edit.png" onclick="changePwd({$vo.id})" alt="修改密码" border="0" class="changPwd"  />   &nbsp;&nbsp;&nbsp;<img src="__PUBLIC__/images/trash.gif" alt="删除用户" onclick="delUser({$vo.id})" border="0" /></a> </li>
            </volist>
            <li><a href="javascript:;" id="addUser">新增用户</a></li>
            <script type="text/javascript">

baidu("#addUser").on("click", function(){
                var dialog = new magic.Dialog({
                    draggable: true,
                    titleText: "添加用户",
                    left: 80,
                    top: 80,
                    width: 520,
                    height: 376,
                    mask: {
                            enable: true
                    }
                });
                dialog.render();
                dialog.center();
                dialog.setContent('{:U('/Admin/Index/userManage')}?type=add','frame');
				});
				function changePwd(id){
					if (parseInt(id)) {
                        var dialog = new magic.Dialog({
                            draggable: true,
                            titleText: "修改用户",
                            left: 80,
                            top: 80,
                            width: 520,
                            height: 376,
                            mask: {
                            enable: true
                                }
                        });
                        dialog.render();
                dialog.center();
                        dialog.setContent('{:U('/Admin/Index/userManage')}?type=change'+'&userId='+id,'frame');	
					}
				}
				function delUser(id){
					if (parseInt(id)) {
                        var dialog = new magic.Dialog({
                            draggable: true,
                            titleText: "删除用户",
                            left: 80,
                            top: 80,
                            width: 520,
                            height: 376,
                            mask: {
                            enable: true
                                }
                        });
                       if(confirm("你确定删除这个用户吗？")) {
                        dialog.render();
                dialog.center();
                        dialog.setContent('{:U('/Admin/Index/userManage')}?type=del'+'&userId='+id,'frame');
                    }
					}
				}
            </script>
        </ul>
    </notempty>
    <notempty name='links'>
    <h2>友情链接</h2>
        <ul>
        	<volist name="links" id="vo">
            <li><a href="#" title="{$vo.url}" ><assign name="image" value="$vo.image" />    <empty name='image'>{$vo.name}<else /> <img src="{$image}" width="90px"> </empty>&nbsp;&nbsp;&nbsp;<img src="__PUBLIC__/images/edit.png"  alt="修改链接" border="0" onclick="changeLink({$vo.id})"  />  &nbsp;&nbsp;&nbsp; <img src="__PUBLIC__/images/trash.gif"  alt="删除链接" border="0" onclick="delLink({$vo.id})"  /></a></li>
            </volist>
<!--             <li><a href="#">Templates</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Docs and info</a></li> -->
            <li><a href="#" id="addLink">新增链接</a></li>
        </ul> 
        <script type="text/javascript">
baidu("#addLink").on("click", function(){
                var dialog = new magic.Dialog({
                    draggable: true,
                    titleText: "新增链接",
                    left: 80,
                    top: 80,
                    width: 520,
                    height: 490,
                    mask: {
                            enable: true
                    }
                });
                dialog.render();
                dialog.center();
                dialog.setContent('{:U('Admin/Index/linkManage/')}?type=add','frame');
                });       

        function changeLink(id){
            if (parseInt(id)) {
                var dialog = new magic.Dialog({
                    draggable: true,
                    titleText: "修改链接",
                    left: 80,
                    top: 80,
                    width: 520,
                    height: 490,
                    mask: {
                            enable: true
                    }
                });
                dialog.render();
                dialog.center();
                dialog.setContent('{:U('Admin/Index/linkManage/')}?type=change&id='+id,'frame');                
        }
    }
        function delLink(id){
                    if (parseInt(id)) {
                        if(confirm('你确定删除这个链接吗？')){
                var dialog = new magic.Dialog({
                    draggable: true,
                    titleText: "删除链接",
                    left: 80,
                    top: 80,
                    width: 520,
                    height: 490,
                    mask: {
                            enable: true
                    }
                });
                dialog.render();
                dialog.center();
                dialog.setContent('{:U('Admin/Index/linkManage/')}?type=del&id='+id,'frame');
                        }
                }
            }
        </script>
    </notempty>
    {/* <notempty name="configs" >
    <h2>系统配置</h2>
    
        <ul>
        <volist name="configs" id="vo">
        	<eq name="i" value='1'>
            <li><span type="{$vo.name}">{$vo.remark} : &nbsp;&nbsp;{$vo.value}秒</span></li>
            </eq>
        </volist>
<!--             <li><a href="#">Add users</a></li>
            <li><a href="#">Manage users</a></li>
            <li><a href="#">Help</a></li> -->
        </ul>   
    </notempty>     */}
    <h2>管理团队</h2> 
    <div class="sidebar_section_text">
    <literal>
    UI NAME    : Panelo - Free Admin<br />
    PHPVersion : Hainuo<br />
      siter    : Zangtao<br />
    Program    : Hainuo<br />
      Q Q      : 399709335
      </literal>
    </div>         
    
    </div>             