<div class="beautiful">{:showAd('siteFooter')}</div>
<eq name="ACTION_NAME" value="getMember">
 <style>
     .txtMarquee-left{ width:810px;  position:relative;  border:1px solid #ccc;margin: 0px auto; margin-bottom: 10px;}
     .txtMarquee-left .hd{ overflow:hidden;  height:0px; background:#f4f4f4; padding:0px;  }
     .txtMarquee-left .hd .prev,.txtMarquee-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px;  overflow:hidden; cursor:pointer; background:url("__PUBLIC__/images/icoLeft.gif") no-repeat;}
     .txtMarquee-left .hd .next{ background:url("__PUBLIC__/images/icoRight.gif") no-repeat;  }
     .txtMarquee-left .bd{ padding:0px;padding-left: 110px; }
     .txtMarquee-left .bd .tempWrap{ width:695px !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
     .txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
     .txtMarquee-left .bd ul li{ margin-right:20px;  float:left; height:24px; line-height:24px;  text-align:left; _display:inline; width:auto !important;  }/* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */
     /*d底部电商动态样式  */
     .txtMarquee-left .bd{background: url("/Public/images/810-40.jpg") no-repeat  -2px center;}

     .txtMarquee-left .bd ul li span{ color:#999;  }
 </style>

    <div class="txtMarquee-left">
        <div class="hd">
            <a class="next"></a>
            <a class="prev"></a>
        </div>
        <div class="bd">
{:showNews()}
        </div>
    </div>

    <script type="text/javascript">
        jQuery(".txtMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:2,interTime:50});
    </script>



</eq>
<!-- 联接 -->
<div class="two_link" style="display:none;">
    <div style="margin: 0px auto; color: rgb(102, 102, 102); width: 790px;">
      {/*  <p>淘宝买家信誉的好处： </p>
        1、当买家一周信用点数超出20点，有可能这个号已经被淘宝列入黑名单，所以他再拍的东西，就有可能被列为炒作，卖家有降权危险。 <br>
        2、注册时间小于30天的，容易给他人中评、差评，或有可能是骗子，请谨慎交易！ <br>
        3、如果买家给他人中评或差评过多的，或喜欢随随便便就给他人中、差评的买家。请谨慎交易！免得惹来不必要的麻烦。<br>
        4、每一次查询本站都会生成一个记录,方面其他用户查看。详情请点击买家<a target="_blank" href="/getHistory.html" title='历史查询记录'>历史查询记录</a>或<a
            target="_blank" title='淘宝隐形降权查询' href="/getWeight.html">淘宝隐形降权查询</a>
        */}
    </div>
</div>
<!-- 尾巴 -->
<div class="footer">
    <div class="detail">
        <table class="number" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div class="total">
                        <img width="88" height="31" src="__PUBLIC__/images/total.png"/>
                    </div>
                    <div class="numbers" clear="left">
                        {$count}
                    </div>
                    <div class="once">
                        <img width="16" height="27" src="__PUBLIC__/images/once.png"/>
                    </div>
                </td>
            </tr>
        </table>
        <div id="bdshare">{:C('baidu_share_code')}</div>
        <div class="history">
            <ul class="historyUl">
                <li>最近查询</li>
                {:showLastHistory(10)}
            </ul>
            <br clear="all"/>
        </div>
        <div class="font">
            <p >
                <a class="first" href='javascript:void(0);'>加入收藏</a> | <a href="/fentutu.php" target="_blank">添加桌面</a> | {:C('footer_code')} | <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2665026650&amp;site=fentutu&amp;menu=yes">联系我们</a><a id="goTopBtn"></a>
            </p>
            <p>
                {:C('beian')}
            </p>
            {:showLink()}
        </div>
    </div>
</div>
<!-- 加入收藏 -->
<script>
    $(function () {
        $("a.first").click(function () {
            Favorite('http://{$Think.server.http_host}/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.html', '{$title}');
        });

    });
    Favorite = function Favorite(sURL, sTitle) {
        try {
            window.external.addFavorite(sURL, sTitle);
        }
        catch (e) {

            try {
                window.sidebar.addPanel(sTitle, sURL, "");
            }

            catch (e) {
                alert("加入收藏失败,请手动添加.");
            }

        }
    }
    function bindGoTop() {
        $(window).scroll(function () {
            var sc = $(window).scrollTop();
            //var rwidth=$(window).width()
            if (sc > 0) {
                $("#goTopBtn").css("display", "block");
                $("#goTopBtn").css("right", "50px")
            } else {
                $("#goTopBtn").css("display", "none");
            }
        })

        $("#goTopBtn").click(function () {
            var sc = $(window).scrollTop();
            $('body,html').animate({scrollTop: 0}, 500);
        });
    }
    bindGoTop();
</script>
</body>
</html>