<div class="beautiful">{:showAd('siteFooter')}</div>
<div id="main">
	<div class="kx">
        <eq name="ACTION_NAME" value="getMember">
		<h2><img src="__PUBLIC__/images/htt_40.png" class="kxtu"/>
            <div class="txtMarquee-left">
                <div class="hd">
                    <a class="next"></a>
                    <a class="prev"></a>
                </div>
                <div class="bd">
        {:showNews()}
                </div>
            </div>

            <script type="text/javascript">
                jQuery(".txtMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:2,interTime:50});
            </script>

        </h2>
     <style>
         .txtMarquee-left{ width:810px;  position:relative;  border:0px solid #ccc;margin: 0px auto; margin-bottom: 10px;}
         .txtMarquee-left .hd{ overflow:hidden;  height:0px; background:#f4f4f4; padding:0px;  }
         .txtMarquee-left .hd .prev,.txtMarquee-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px;  overflow:hidden; cursor:pointer; background:url("__PUBLIC__/images/icoLeft.gif") no-repeat;}
         .txtMarquee-left .hd .next{ background:url("__PUBLIC__/images/icoRight.gif") no-repeat;  }
         .txtMarquee-left .bd{ padding:0px;padding-left: 110px; }
         .txtMarquee-left .bd .tempWrap{ width:695px !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
         .txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
         .txtMarquee-left .bd ul li{ padding-left:10px;margin-right:20px;  float:left; height:40px; line-height:40px;  text-align:left; _display:inline; width:auto !important; background: url("__PUBLIC__/images/dot.jpg") no-repeat 0px center;  }/* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */
         .txtMarquee-left li a{color: #333;text-decoration: none;font-size: 16px;font-family: '仿宋';font-weight: bold;}
         .txtMarquee-left li a:hover{color: #808080}
         /*d底部电商动态样式  */
         .txtMarquee-left .bd{background: url("/Public/images/810-40.jpg") no-repeat  -2px center;}

         .txtMarquee-left .bd ul li span{ color:#999;  }
     </style>
    </eq>        
        <img src="__PUBLIC__/images/htt_07.jpg" class="gjcs"/>
        <div class="tubiao">
        	<img src="__PUBLIC__/images/htt_49.png"/>
            <img src="__PUBLIC__/images/htt_51.png"/>
            <img src="__PUBLIC__/images/htt_53.png"/>
            <img src="__PUBLIC__/images/htt_55.png"/>
            <img src="__PUBLIC__/images/htt_57.png"/>
        </div>
	</div>
</div>



<div id="footer">
	<div class="db">
    	<p><span>最近查询：</span>qq教主 lubingss zhanglinlin 711leoh ainuo 郭德纲他亲爹 张琳琳 呀呀呀 到底 可苦可乐<em><a href="#">查看更多</a></em></p>
    </div>
    
    <div class="dibunav">
        	<div class="jr"><a href="#">加入收藏｜</a><a href="#">添加桌面｜</a><a href="#">联系我们｜</a></div>
            <p>友情链接：海诺博客芳草园<br />

沪ICP备13001718  Copyright © 2013 粉兔兔.保留所有权利</p>           
     </div>
    
</div>
</body>
</html>