<include file="Public/header" />
<style>

.content .result{width: 100%;border: #f2f2f2 solid 1px;height: auto;background: white;position: relative;}
.result .even{background-color: #f9f9f9}
.result .odd{background-color: #fff}
.result  ul.f-gray{float: left;margin-left: 15px;display: inline;}
.result  ul.f-gray li{float: left;margin-left: 1px;}
.list {width: 100%;border: 1px solid #c9c9c9;}
.list thead tr th{background-color: #ececec;height: 37px;border-bottom: 2px solid #d3d3d3;}
.list tr td{height: 41px;border-bottom: 1px solid #e5e5e4;font-size: 12px;text-align:center}
.list tbody tr:hover{background: #fff8ec;border-bottom: 1px solid #e5dfd4;}

/*.list .un{width: 100px;}*/
/*.list .bscore{width:100px;}*/
.list .un a{color: #0077e9}
.list .un a:hover{color: #f28813}

.list .time {
    color: #a2a2a2; /*width: 150px;*/
}

.list .pl{color: #666666}
.result .page{position:absolute;bottom:-20px;text-align: right;width: 100%;}

</style>
	<div class="content" >
		<div class="detail">
			<div class="other-i logo">
			</div>
			<form class="search" method="get" action="/getWeight.html">
				<i class="other-i ww" style="position: absolute;top:5px;left:5px;"></i>
				<input class="index-input-s" type="text" id="txtKey" name="username" value="输入淘宝帐号" /><input class="other-i button-s" type="submit" value=""/>
			</form>
			<div class="clf"></div>
			<div class="result">
				<table class="list" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>淘宝帐号</th>
							<th>卖家信誉</th>
							<th>买家信誉</th>
							<th>商品数量</th>
							<th>评价</th>
							<th>最后查询时间</th>
						</tr>
					</thead>
					<tbody>
<notempty name='list'>
<volist name='list' id='vo' mod="2">
<tr class="<eq name="mod" value="2" > odd <else /> even</eq>">
    <td class="un"><a href="/getMember/username/{$vo.username}.html" target="_blank">{$vo.username}</a></td>
	<td class="bscore">{$vo.sscore}</td>
	<td class="bscore">{$vo.bscore}</td>
							<td class="bscore"><a href="/getWeight/username/{$vo.username}.html" target="_blank">{$vo.goodNum}</a></td>
							<td>
<notempty name='vo.score'>
<?php $score=json_decode($vo['score']);?>

    <a href="{$vo.rateurl}" target="_blank"><span class="other-i normal"></span><font>中评</font><span style="color: #F5CC04; font-weight: bold;text-align:center;">
                                                        <?php echo $score[0][1]+ $score[1][1]+$score[2][1]+$score[3][1];?>
                                                        	
                                                        </span></a>
                                                        <a href="{$vo.rateurl}" target="_blank"><span class="other-i bad"></span><font>差评</font><span style="color: black; font-weight: bold;text-align:center;">
                                                        <?php echo $score[0][2]+ $score[1][2]+$score[2][2]+$score[3][2];?>
                                                        </span></a>

</notempty>                                        </td>
							<td class="time">{$vo.create_time}</td>
						</tr>
</volist>
</notempty>
                    </tbody>
				</table>
				<div class="page">
					 {$page}
                 </div>
			</div>
		</div>
	</div>

<include file="Public/footer" />