<include file="Public/header" />
<style>

    .content .result {
        width: 100%;
        border: #f2f2f2 solid 1px;
        height: auto;
        background: white;
        position: relative;
        *margin-top: 0px;
    }

    .result .even{background-color: #f9f9f9}
.result .odd{background-color: #fff}

.c_h {font-size: 12px;border: 1px solid #c9c9c9;padding: 10px;margin-bottom: 30px;background-color: #f7faff}


.list {width: 100%;border: 1px solid #c9c9c9;}
.list thead tr th{background-color: #ececec;height: 37px;border-bottom: 2px solid #d3d3d3;}
.list tr td{height: 41px;border-bottom: 1px solid #e5e5e4;font-size: 12px;text-align:center}
.list tbody tr:hover{background: #fff8ec;border-bottom: 1px solid #e5dfd4;}
.list .un a{color: #0077e9}
.list .un a:hover{color: #f28813}
.list .time{color:#a2a2a2;}
.list .pl{color: #666666}
.list .H{color: red;}
.result .page{position:absolute;bottom:-20px;text-align: right;width: 100%;}
input{height: 30px;*height: 25px;font-size: 16px;text-align:center;*padding-top: 3px;vertical-align: middle;color: gray;font-family: "微软雅黑","华文细黑",Arial, Helvetica, sans-serif;font-weight: bold;}
input#chkbType{width:20px;height:20px;line-height:30px;margin-right:2px; vertical-align:middle;}
select {height: 30px;vertical-align: middle;}
div.k_serach{vertical-align:text-top;font-size: 16px; width: 800px;*width:850px;padding-left: 20px;float: right;bottom: 0px;max-height:50px; }
.content .detail{padding-top: 50px;}
div.ranklogo{width: 122px;height: 60px;position: relative;background: url('/Public/images/other-i.png') no-repeat;top: -20px;left: 50px;*left:20px;float: left;}
.searchDiv{padding: 0px;margin: 0px;border: 0px;}
</style>


	<div class="content" >
        <div class="detail">
        	<div class="clf"></div>
			<div class="c_h searchDiv">
				<div class="ranklogo"></div>
		        <div class="k_serach">
					排序：
					<select id="sortType" style="*height: 30px;*font-size: 18px;*text-align: center;">
						<option value="">默认</option>
						<option value="renqi-asc">人气↑</option>
						<option value="renqi-desc">人气↓</option>
						<option value="sale-asc">销量↑</option>
						<option value="sale-desc">销量↓</option>
						<option value="credit-asc">信用↑</option>
						<option value="credit-desc">信用↓</option>
						<option value="price-asc">价格↑</option>
						<option value="price-desc">价格↓</option>
					</select>
		            淘宝帐号：<input type="text" id="member" style="width:120px;" value="<empty name='userInfo'>输入淘宝账号<else />{$userInfo.username}</empty>" />
		            关键词：<input type="text" id="key" style="width:120px;" value="输入商品关键词" />
		            <span style="color:Red;font-weight:bold;">
				            <input id="chkbType" type="checkbox" checked="checked" />
				            <label for="chkbType">只列出自己的商品</label>
				          </span>
		            
		            <input name="txtPageCount" type="text" value="#" id="txtPageCount" title="最多20页" style="width:30px;" />
		            页<input id="btnSearch" type="button" value="确定" />
		        </div>
				<div class="ProgressTextBox" id="divProgressTextBox" style="clear:both">
				    <div class="k_progress" style="width: 200px">
				        <div class="k_ProgressText" id="divProgressText">
				            0%
				        </div>
				        <div class="k_ProgressItem" style="width: 0%" id="divProgressItem">
				        </div>
				    </div>
				    <div class="ProgressState">
				        待查询共<span id="PageCount">#</span>页 正在提取<span id="PageNow">#</span>页
				    </div>
				    <div class="Action">
				        <img src="__PUBLIC__/images/pause.gif" id="ActionImg1" alt="暂停" />
				        <img src="__PUBLIC__/images/stop.gif" id="ActionImg2" alt="停止" />
				    </div>
				    <div id="GetResultState">
				    </div>
				</div>
			</div>
			<br clear="all">
			<div class="c_h">请输入正确的账号！</div>
			<div class="result">
				<table class="list" cellpadding="0" cellspacing="0">
					<thead>

					</thead>
					<tbody>
						
					</tbody>
				</table>
				<div class="page">
									</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
		var theadcode='<tr><th>排名</th><th>位置</th><th>最近成交</th><th>售价</th><th>卖家</th><th>商品名称</th></tr>';
		$("#ResultBox").css("display", "none");
		$("#divProgressTextBox").css("display", "none");
		$(".Action").css("display", "none");
		$('#btnSearch').unbind();
		$("#btnSearch").click(function() {
			init();
		});
		//$("#txtPageCount").attr("disabled", "true");
		$("#txtPageCount").attr("value", "10");//默认查询10页所有商品信息
		$("#txtPageCount").attr("title", "只列出自己的商品 的模式下才能自定义页数");

		$("#member").focus();
		$("#member").keypress(function(event) {
			if (event.keyCode == 13) {
				event.preventDefault();
				$("#key").focus();
			}
		});
		$("#key,#txtPageCount").keypress(function(event) {
			if (event.keyCode == 13) {
				event.preventDefault();
				init();
			}
		});


		$("#chkbType").click(function(event) {
			if ($("#chkbType").attr("checked")) {
				$("#txtPageCount").removeAttr("disabled");
				$("#txtPageCount").attr("value", "10");//一般10页内必定有指定商家的商品
				$("#txtPageCount").attr("title", "最多只能20页");
			}
			else {
				$("#txtPageCount").attr("disabled", "true");
				$("#txtPageCount").attr("value", "10");
				$("#txtPageCount").attr("title", "只列出自己的商品 的模式下才能自定义页数");
			}
		}); 
	function GetRadioValue(RadioName) {
		var obj;
		obj = document.getElementsByName(RadioName);
		if (obj) {
			var i;
			for (i = 0; i < obj.length; i++) {
				if (obj[i].checked) {
					return obj[i].value;
				}
			}
		}
		return null;
	}

	function init(){
		$(".list tbody").empty();
		StartGetResult();
	}

	function StartGetResult() {
		$("#hidActionType").val("0");
		$("#ActionImg1").unbind();
		$("#ActionImg1").attr("alt", "暂停");
		$("#ActionImg1").attr("src", "__PUBLIC__/images/pause.gif");
		$("#ActionImg1").click(function() {
			PauseGetResult();
		});
		$("#ActionImg2").unbind();
		$("#ActionImg2").attr("alt", "停止");
		$("#ActionImg2").click(function() {
			SotpGetResult();
		});

		
		clearTimeout(outime);
		GetResult();
	}

	function PauseGetResult() {
		clearTimeout(outime);
		$("#hidActionType").val("1");
		$("#ActionImg1").unbind();
		$("#ActionImg1").attr("alt", "继续");
		$("#ActionImg1").attr("src", "__PUBLIC__/images/start.gif")
		$("#GetResultState").html("已暂停"); ;
		$("#ActionImg1").click(function() {
			StartGetResult();
		});
	}

	function SotpGetResult() {
		clearTimeout(outime);
		$("#hidActionType").val("2");
		$("#GetResultState").html("已停止");
		$("#divProgressText").html("100%");
		$("#divProgressItem").css("width", "100%");
		$("#PageNow").html("#");
		//$(".Action").css("display", "none");
	}

	function CheckPaiming(PageTotal) {
		if ($("#divResult").html() == "") {
			$("#divResult").html("共查询" + PageTotal + "页，搜索结果中没有你的商品，请尝试其他关键字");
		}
	}

	var outime;

	function GetResult() {
		if ($("#hidActionType").val() == "1") {
			$("#GetResultState").html("已暂停");
			return false;
		}

		if ($("#hidActionType").val() == "2") {
			$("#GetResultState").html("已停止");
			$(".Action").css("display", "none");
			return false;
		}

		$("#divProgressTextBox").fadeIn(); ;
		var sortType = $('#sortType').val();
		var sAccount =$.trim($("#member").val());
		if (sAccount=="输入淘宝账号" ||  sAccount == "" ) {
			$("#GetResultState").html("请填写卖家帐号");
			$(".Action").css("display", "none");
			$("#member").val('');
			$("#member").focus();
			return false;
		}

		var skey = $("#key").attr("value");
		if (skey == "") {
			$("#key").focus();
			$("#GetResultState").html("请填写关键词");
			$(".Action").css("display", "none");
			return false;
		}

		var sType = $("#chkbType").attr("checked");
		if (sType) {
			sType = 1;
		}
		else {
			sType = 0;
		}
		$(".list thead").html(theadcode);
		var sPageCount = $("#txtPageCount").attr("value");
		if (sPageCount == "") {
			$("#txtPageCount").focus();
			$("#GetResultState").html("请填写需查询的页数");
			$(".Action").css("display", "none");
			return false;
		}

		var iPageCount = parseInt(sPageCount);
		if (iPageCount > 20) {
			$("#txtPageCount").val(20);
		}

		$("#PageCount").html(sPageCount);
		var sNowPage = $("#PageNow").html();
		if (sNowPage == "#") {
			sNowPage = 0;
			$("#divProgressText").html("0%");
			$("#divProgressItem").css("width", "0%");
			$("#divResult").html("");

		}
		var iNowPage = parseInt(sNowPage);
		if (iNowPage > (iPageCount - 1)) {
			$("#GetResultState").html("查询完毕，共查询了" + sPageCount + "页");
			$(".Action").css("display", "none");
			$("#PageNow").html("#");
			CheckPaiming(iPageCount);
			return false;
		}
		$("#PageNow").html(iNowPage + 1);

		var iProgress = parseInt((iNowPage / (iPageCount - 1)) * 100);

		$("#divProgressText").html(iProgress + "%");
		$("#divProgressItem").css("width", iProgress + "%");

		$("#GetResultState").html("初始化...");
		
		$.ajax({
			type: "get",
			url: "/getRank",
			data: 'sortType='+encodeURI(sortType)+'&username=' + encodeURI(sAccount) + '&key=' + encodeURI(skey) + '&type=' + sType + '&nowPage=' + sNowPage,
			dataType: 'text',
			beforeSend: function(XMLHttpRequest) {
				$("#GetResultState").html("<img src='__PUBLIC__/images/wait.gif' alt='等待加载' /> 正在查询，每页大约需时1~30秒，请稍候...");
			},
			cache: false,
			success: function(data, textStatus) {
				$(".Action").css("display", "block");
				$("#ResultBox").css("display", "block");
				if (data != "") {
					switch (data) {
						case "ResultCode:004":
							$("#GetResultState").html("请输入正确的账号！");
							$(".Action").css("display", "none");
							//$(".k_progress").css("display", "none");
							//$(".ProgressState").css("display", "none");
							$(".list thead").empty();
							return false;
							break;						
						case "ResultCode:001":
							$("#divResult").html("在淘宝搜索引擎中，没有找到与 《" + skey + "》 相关的商品");
							$("#GetResultState").html("查询完毕");
							$("#PageNow").html("#");
							$(".Action").css("display", "none");
							return false;
							break;
						case "ResultCode:002":
							$("#GetResultState").html("查询完毕，在淘宝搜索引擎中实际结果只有" + (iNowPage) + "页");
							$("#divProgressText").html("100%");
							$("#divProgressItem").css("width", "100%");
							$("#PageNow").html("#");
							$(".Action").css("display", "none");
							CheckPaiming(iNowPage);
							return false;
							break;
						default:
							if (data != "ResultCode:003") {
							    // alert(data);
								$(".list tbody").append(data);
							}else
								$(".list tbody").append(data.info);
							outime = setTimeout("GetResult()", 2000);
						break;
					}
				}
			},
			complete: function(XMLHttpRequest, textStatus) {
			},
			error: function() {
				$("#GetResultState").html("获取信息失败，请重新提交...");
				$(".Action").css("display", "none");
			}
		});
	}
</script>
<include file="Public/footer" />